# Set via Ansible-lockdown
# Sponsored by Mindpoint Group - A Tyto Athene Company / Ansible Lockdown
# Part of DISA {{ benchmark }} - {{ benchmark_version }}
#
auth.*,authpriv.* /var/log/secure
daemon.* /var/log/messages
