## Ansible controlled file
# Sponsored by Mindpoint Group - A Tyto Athene Company / Ansible Lockdown
# Part of DISA {{ benchmark }} - {{ benchmark_version }}

{% for pool in ubtu22stig_time_pool %}
pool {{ pool.name }} {{ pool.options }}
{% endfor %}
